@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --primary: 330 81% 60%;
  --primary-foreground: 0 0% 0%;
}

body {
  background: #000;
}

@layer base {
  * {
    @apply border-white/10;
  }
}
